<html>
{{ template "header" . }}
  <body>

    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "menu" . }}
    </div>
    <div class="ui inverted message black huge vertical masthead segment">
      <div class="ui container">
	      <div class="header">
	        Apoc - Agile promoter operations center.
	      </div>
				<p>
				</br>
					O Apoc nasceu com o intuito de centralizar e compartilhar todas as informações pertinentes
					ao Agile Promoter.
	      </p>
	    </div>
    </div>

	</body>
</html>
<script>
$('h1')
  .transition('tada');
$('.header')
 .transition('pulse');
</script>