<html>
{{ template "header_depth1" . }}
  <body>

    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "menu" . }}
    </div>

    <div class="ui inverted black vertical masthead segment">
      <div class="ui container">
		    <div class="ui message black center apoc margin">
		    <table class="ui inverted table">
		        <thead>
		          <tr>
		            <th>Name</th>
		            <th>Status</th>
		            <th>Notes</th>
		          </tr>
		        </thead>
		        <tfoot>
		        </tfoot>
		      </table>
		    </div>
		  </div>
		</div>



	</body>
</html>