<html>
{{ template "header" . }}
	<body>
		<div class="ui inverted vertical masthead center aligned segment">
			{{ template "menu" . }}
		</div>
		<div class="ui inverted vertical masthead segment">
			<div class="ui main container">
				<h1 class="ui header red">
					<i class="history icon"></i>
					<div class="content">
						Restart History.
					</div>
				</h1>
				<p></p>
				<div class="ui raised segment inverted red">
					<div class="sixteen wide column">
						<table id="historyTable" class="ui compact selectable striped celled small table dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
							<thead>
								<tr role="row">
								<th class="sorting" tabindex="0" aria-controls="tableControl" rowspan="1" colspan="1" style="width: 150px;">Client Name</th>
								<th class="sorting" tabindex="0" aria-controls="tableControl" rowspan="1" colspan="1" style="width: 150px;">Server</th>
								<th class="sorting" tabindex="0" aria-controls="tableControl" rowspan="1" colspan="1" style="width: 100px;">Date</th>
								<th class="sorting" tabindex="0" aria-controls="tableControl" rowspan="1" colspan="1" style="width: 250px;">User</th>
								<th class="sorting" tabindex="0" aria-controls="tableControl" rowspan="1" colspan="1" style="width: 1200px;">Description</th>
							</thead>
							<tbody>
							{{ range $key, $value := .Restarts }}
							<tr role="row" class="even">
								<td>{{ .ClientId }}</td>
								<td>{{ .ServerAddress }}</td>
								<td>{{ .CreationDate }}</td>
								<td>{{ .User }}</td>
								<td>{{ .Description }} </td>
							</tr>
							{{ end }}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="../dist/mod/historyTable.js"></script>
<link rel="stylesheet" type="text/css" href="../dist/mod/historyTable.css">