<html>
{{ template "header" . }}
	<body>
		<div class="ui inverted vertical masthead center aligned segment">
			{{ template "menu" . }}
		</div>
		<div class="ui inverted vertical masthead segment">
			<div class="ui main container">
				<h1 class="ui header red">
					<i class="history icon"></i>
					<div class="content">
						Versions History.
					</div>
				</h1>
				<p></p>
				<div class="ui segment inverted red">
					<div class="sixteen wide column">
						<table id="historyTable" class="ui compact selectable celled striped table small dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
							<thead>
								<tr role="row">
								<th class="sorting" tabindex="0" aria-controls="tableControl" rowspan="1" colspan="1" style="width: 200px;">Web Version</th>
								<th class="sorting" tabindex="0" aria-controls="tableControl" rowspan="1" colspan="1" style="width: 650px;">Android Version</th>
								<th class="sorting" tabindex="0" aria-controls="tableControl" rowspan="1" colspan="1" style="width: 200px;">Ios Version></OldVersion></th>
							</thead>
							<tbody>
							{{ range $key, $value := .Versions }}
							<tr role="row" class="even">
								<td>{{ .WebVersion }}</td>
								<td>{{ .AndroidVersion }}</td>
								<td>{{ .IosVersion }}</td>
							</tr>
							{{ end }}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="../dist/mod/historyTable.js"></script>
<link rel="stylesheet" type="text/css" href="../dist/mod/historyTable.css">