<html>
{{ template "header_depth1.tmpl" }}
  <style>
    body { background: #1b1c1d }
    .apoc.margin { margin: 10px 370px; }
  </style>

  <body>

    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "menu.tmpl" }}
    </div>

    <div class="ui message black center apoc margin">
    <table class="ui inverted table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tfoot>
        </tfoot>
      </table>
    </div>



	</body>
</html>