<html>
{{ template "header" . }}
  <body>

  <style>
    .ribbon.label {
      max-width: 0;
    }
  </style>

    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "menu" . }}
    </div>

    <div class="ui inverted segment centered">
      <div class="ui container ">
        <button class="positive floated big ui button">
          Create review-app
        </button>
        <h3 class="ui horizontal divider header red">
          List
        </h3>
        <div class="ui doubling three link cards">
          {{ range $index, $value := .stagingContainers }}
          <div class="card red">
            {{if eq .State "running" }}
            <div class="ui green ribbon label">{{ .State }}</div>
            {{ else }}
            <div class="ui red ribbon label">{{ .State }}</div>
            {{ end }}
              <div class="content">
                <div class="header">
                  {{ .Name }}
                </div>
                <div class="meta">
                  <a>
                  {{ .Created }}
                  </a>
              </div>
              <div class="description">
                {{ .Status }}
              </div>
            </div>

            <div class="extra content">
              <span class="right floated">
                <div class="ui red button deleteContainer">
                  <input id="#ID" type="hidden" value="{{ .ID }}">
                    Remove
                </div>
              </span>
              <span>
                <i class="Idea icon green"></i>
              </span>
            </div>

          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="ui mini modal">
      <div class="header">
        <i class="add Square icon"></i>
        Review App
      </div>
      <div id="stagingModal" class="content">
        <header>JAVA PR</header>
        <div class="ui input">
          <input type="text" class="javaPR">
        </div>
        <div class="ui section divider "></div>
        <header>HTML PR</header>
        <div class="ui input">
          <input type="text" class="htmlPR">
        </div>
        <div class="ui section divider"></div>
        <header>Slack User</header>
        <div class="ui input">
          <input type="text" class="slackUser">
        </div>

      </div>
      <div class="actions">
        <div class="ui buttons">
          <div class="ui cancel button red">Cancel</div>
          <div class="ui approve button green" onclick="modalSubmitForm()">Continue</div>
        </div>
      </div>
    </div>
    <div class="ui second modal">
      teste
    </div>
  </body>

<script src="../dist/mod/staging.js"></script>
</html>