<html>
{{ template "header" . }}
  <body>
    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "menu" . }}
    </div>
    <div class="ui inverted vertical masthead segment">
      <div class="ui container">
        <h1 class="ui header red" id="headerMysqlTitle">
          <i class="lock icon"></i>
          <div class="content">
            Mysql credentials generate.
          </div>
        </h1>
        <form id="mysqlForm" class="ui form inverted" action="/v1/vault/mysql/create-creds" method="POST">
          <div class="field eight wide">
            <h3>Github token</h3>
            <input type="text" name="githubToken" maxlength="40">
          </div>
          <div class="eight wide field">
            <h3>Database</h3>
            <select name="database">
              <option value="involvesdbeua">involvesdbeua</option>
              <option value="involvesdbeua2">involvesdbeua2</option>
              <option value="involvesdbeua3">involvesdbeua3</option>
            </select>
          </div>
          <h3>Access mode</h3>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="accessMode" tabindex="0" class="hidden" value="readonly">
                <label>Readonly</label>
              </div>
            </div>
            <div class="field">
	              <div class="ui radio checkbox">
	                <input type="radio" name="accessMode" tabindex="0" class="hidden" value="readwrite">
	                <label>Read/Write</label>
	              </div>
              </div>
          <p>
	        <div class="ui error message inverted">
	        </div>
	        </p>
		      <div class="ui buttons red right aligned right floated">
            <div id="submitMysqlForm" class="ui primary submit button">Submit</div>
          </div>
        </form>
      </div>
    </div>
    <div class="ui mini modal">
      <div class="header">Mysql Credentials <i class="unlock alternate icon"></i> </div>
        <div id="mysqlCredsInformation" class="ui positive message">
      </div>
      <div class="actions">
        <div class="ui buttons">
          <div class="ui cancel button green" onclick="quitWithReload()">Continue</div>
          </div>
        </div>
      </div>
	</body>
</html>

<script src="http://malsup.github.com/jquery.form.js"></script>
<script src="../dist/mod/vaultMysql.js"></script>