<html>
{{ template "header_depth1.tmpl" }}
  <style>
    body { background: #1b1c1d }
    .right {
	    position: absolute;
	    right: 0px;
    }
    .apoc.margin { margin: 10px 370px; }
  </style>

  <body>

    <div class="ui inverted vertical masthead center aligned segment">
      {{ template "menu.tmpl" }}
    </div>

    <div class="ui inverted masthead left aligned segment apoc margin">
      <div class="ui message black center">
        <form class="ui form inverted" action="/vault/mysql/create-creds" method="POST">
          <div class="field eight wide">
            <h3>Github token</h3>
            <input type="text" name="githubToken" placeholder="Token" maxlength="40">
          </div>

          <div class="eight wide field">
            <h3>Database</h3>
            <select name="database">
              <option value="involvesdbeua">involvesdbeua</option>
              <option value="involvesdbeua2">involvesdbeua2</option>
              <option value="involvesdbeua3">involvesdbeua3</option>
            </select>
          </div>

            <h3>Access mode</h3>
               <div class="field">
                 <div class="ui radio checkbox">
                   <input type="radio" name="accessMode" tabindex="0" class="hidden" value="readonly">
                   <label>Readonly</label>
                 </div>
               </div>
               <div class="field">
                 <div class="ui radio checkbox">
                   <input type="radio" name="accessMode" tabindex="0" class="hidden" value="readwrite">
                   <label>Read/Write</label>
                 </div>
               </div>
					<div class="red ui buttons right aligned">
            <button class="ui button" type="submit">Submit</button>
          </div>

        </form>
      </div>
    </div>

    {{ .username }}
    {{ .password }}



	</body>
</html>

<script>
$('.ui.radio.checkbox')
  .checkbox()
;
</script>